@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display SC Bold';
    src: url('../fonts/Playfair/PlayfairDisplaySC-Bold.eot');
    src: url('../fonts/Playfair/PlayfairDisplaySC-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Playfair/PlayfairDisplaySC-Bold.woff') format('woff'),
    url('../fonts/Playfair/PlayfairDisplaySC-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display SC Black';
    src: url('../fonts/Playfair/PlayfairDisplaySC-Black.eot');
    src: url('../fonts/Playfair/PlayfairDisplaySC-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Playfair/PlayfairDisplaySC-Black.woff') format('woff'),
    url('../fonts/Playfair/PlayfairDisplaySC-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin reg {
    font-family: 'Montserrat Regular' , sans-serif;
    font-weight: 300;
}

@mixin bold {
    font-family: 'Playfair Display SC Bold' , sans-serif;
    font-weight: 700;
}

@mixin black {
    font-family: 'Playfair Display SC Black' , sans-serif;
    font-weight: 1000;
}