.navbar
    position: fixed 
    top: 0
    width: 100%
    margin-top: 1.5%
    &-block
        display: flex
        align-items: center
        justify-content: space-between
    &-menu
        width: 51%
        &_item
            margin-left: 4%
            color: #ffffff
            &:hover
                color: $main-color
    &-btn
        color: $main-color
        border: 1px solid $main-color
        background: transparent
        padding: 7px
        font-size: 14px
        &:hover
            cursor: pointer
            color: #ffff

@media (max-width: 1200px)
    .navbar
        &-menu
            width: 62%
            &_item
                margin-left: 2%
                font-size: 14px
        &-btn
            font-size: 12px
        &-img
            width: 12%

@media (max-width: 768px)
    .navbar
        &-menu
            width: 66%
            &_item
                margin-left: 1%
                font-size: 12px
        &-btn
            padding: 4px
            font-size: 10px
        &-img
            width: 12%

@media (max-width: 635px)
    .navbar
        &-menu
            width: 67%
        &-img
            width: 10%
            &_item
                margin-left: 0
                font-size: 10px
            &-btn
                font-size: 9px    
