.navbar
    z-index: 3
    position: fixed 
    top: 0
    width: 100%
    margin-top: 1.5%
    &-block
        display: flex
        align-items: center
        justify-content: space-between
    &-menu
        width: 51%
        &_item
            margin-left: 4%
            color: #ffffff
            &:hover
                color: $main-color
    &-btn
        color: $main-color
        border: 1px solid $main-color
        background: transparent
        padding: 7px
        font-size: 14px
        &:hover
            cursor: pointer
            color: #ffff
        &-a
            color: #ffff

@media (max-width: 1200px)
    .navbar
        &-menu
            width: 62%
            &_item
                margin-left: 2%
                font-size: 14px
        &-btn
            font-size: 12px
        &-img
            width: 12%

@media (max-width: 768px)
    .navbar
        &-menu
            width: 66%
            &_item
                margin-left: 1%
                font-size: 12px
        &-btn
            padding: 4px
            font-size: 10px
        &-img
            width: 12%

@media (max-width: 635px)
    .navbar
        margin-top: 4.5%
        left: 0
        top: 0
        width: 30%
        height: 100vh
        display: flex
        align-items: center
        justify-content: center
        transition: 0.5s
        transform: translateX(-100%)
        &-block
            flex-direction: column
        &-img
            display: none
        &-menu
            display: flex
            justify-content: space-around
            align-items: center
            height: 50%
            width: 50%
            flex-direction: column
            &_item
                margin-top: 92%
                text-align: center
        &-btn
            display: none
    .navbar-active
        transform: translateX(0%)
    .wraphum
        position: absolute
        right: -60px
        top: 5px
        padding: 7px 5px
        //background-color: #153450
    .hamburger
        position: relative  
        display: block  
        width: 34px 
        height: 19px     
        border-top: 2px solid #fff  
        border-bottom: 2px solid #fff  
    .hamburger:before 
        content: ""
        position: absolute
        top: 6px
        left: 0px
        width: 100%
        border-top: 2px solid #fff

//@media (max-width: 425px)
//    .wraphum
//        margin-right: -210px
//        margin-top: -90px

//@media (max-width: 380px)
//    .wraphum
//        margin-top: -162px
